<div class="page-header">
  <div class="row">
    <div class="col-lg-12">
      <h2>Well Behaved Async Functions</h2>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-7">
    <p class="bs-component">
      <a href="#" id="btn-poll" class="btn btn-primary">Poll</a>
    </p>
  </div>
</div> 
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Response</h3>
  </div>
  <div class="panel-body">
    <p id="poll-response"></p>
  </div>
</div>
<div class="page-header">
</div>

<div class="row">
  <div class="col-lg-7">
    <p class="bs-component">
      <a href="#" id="btn-longpoll" class="btn btn-success">Long Poll</a>
    </p>
  </div>
</div> 
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Response</h3>
  </div>
  <div class="panel-body">
    <p id="longpoll-response"></p>
  </div>
</div>
<div class="page-header">
</div>

<div class="row">
  <div class="col-lg-7">
    <p class="bs-component">
      <a href="#" id="btn-push" class="btn btn-info">Push</a>
    </p>
  </div>
</div> 
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Response</h3>
  </div>
  <div class="panel-body">
    <p id="push-response"></p>
  </div>
</div>

<div class="page-header">
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <p>Let's throw in a couple of GET requests to make things more interesting.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-7">
    <p class="bs-component">
      <a href="#" id="btn-get" class="btn btn-danger">GET</a>
    </p>
  </div>
</div> 
<div class="panel panel-danger ">
  <div class="panel-heading">
    <h3 class="panel-title">Response</h3>
  </div>
  <div class="panel-body">
    <p id="get-response"></p>
  </div>
</div>